


* {
    font-family: PTSans;
}

main {
    width: 75%;
    min-height: 100vh;
    background-color: $bgWhite;
    padding-left: 15%;
    padding-right: 10%;
}


.mainContent {
    position: relative;
    width: 100%;
    min-height: 100vh;
    border: 1px solid $blackBlueLight;

    .head {
        display: inline-block;
        color: $blackBlue;
        font-size: 56px;
        font-weight: bold;
        line-height: 1.2;
        border-width: 5px;
        border-style: solid;
        border-image: linear-gradient(
            to bottom, 
            $iris100, 
            $fuschia100
        ) 0 0 0 1;
        padding-left: 78px;
        margin-top: 170px;
    }

    &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 1px;
        height: 100%;
        background-color: $blackBlueLight;
    }

    &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 40vh;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 1px;
        background: $blackBlueLight;
    }

    .mobileDivider {
        display: none;
    }

}


@media (max-width: 1600px) and (min-width: 900px) {
    .mainContent {
        .head { 
            font-size: 32px;
            margin-top: 60px;
        }
    }

}

@media (max-width: 900px) {
    main {
        width: 87.5%;
        background-color: $bgWhite;
        padding-left: 6.25%;
        padding-right: 6.25%;
    }

    .mainContent {
        display: flex;
        flex-direction: column;
        border: none;

        .head {
            font-size: 20px;
            border-image: none;
            border-style: none;
            padding-left: 0;
            margin-top: 59px;
            margin-left: 0;
        }

        &::before, &::after {
            display: none;
        }

        .mobileDivider {
            display: block;
            background-color: #C7CDD9;
            height: 1px;
            margin-top: 56px;
        }
    }
}
