


* {
    padding: 0;
    margin: 0;
}



@font-face {
    font-family: "PTSans";
    src: local("PTSans"), 
            url("../static/fonts/PT_Sans/PTSans-Regular.ttf") format("truetype"); 
    font-weight: normal; 
    font-style: normal; 
}

@font-face {
    font-family: "PTSans";
    src: url("../static/fonts/PT_Sans/PTSans-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Bebas Neue";
    src: local("Bebas Neue"), 
            url("../static/fonts/Bebas_Neue/BebasNeue-Regular.ttf") format("truetype"); 
    font-weight: normal; 
    font-style: normal; 
}
