


.dateCircle {
    display: flex;
    justify-content: center;
    height: 35vh;


    .circle {
        position: absolute;
        top: 15vh;
        width: 50vh;
        aspect-ratio: 1 / 1;
        border: 1px solid rgba($blackBlue, 0.2);
        border-radius: 50%;
        transition: transform 1.5s;

        .item {
            position: absolute;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            left: 50%;
            top: 50%;
            background-color: $blackBlue;
            border: 1px solid rgba(#303E58, 0.5);
            border-radius: 50%;
            cursor: pointer;
            transition: all 0.3s ease;
            transform-origin: center;

            &.active {
                background-color: $bgWhite;
                z-index: 10;
            }

            
            &::before {
                content: "";
                position: absolute;
                top: -20px;
                right: -20px;
                bottom: -20px;
                left: -20px;
            }

            .category {
                min-width: 80px;
                color: $blackBlue;
                font-size: 20px;
                font-family: PTSans;
                font-weight: bold;
                position: absolute;
                transform: translateX(50%);
                left: 20px;
            }
        }
    }

    .years {
        position: absolute;
        display: flex;
        gap: 65px;
        top: 39.5vh;
        left: 50%;
        letter-spacing: -2%;
        pointer-events: none;
        user-select: none;
  
        transform: translate(-50%, -50%);
        font-size: 200px;
        font-weight: bold;

        .first {
            color: $iris100;
        }

        .second {
            color: $fuschia100;
        }
    }

}


@media (max-width: 1600px) and (min-width: 900px) {
    .dateCircle {
        .years {
            font-size: 100px;
            gap: 120px; 
        }
    }
}

@media (max-width: 900px) {
    .dateCircle {
        position: unset;
        height: unset;

        .circle {
            display: none;
        }

        .years {
            width: 100%;
            font-size: 56px;
            display: flex;
            justify-content: space-around;
            gap: 0;
            position: unset;
            transform: unset;
            margin-top: 56px;

            span {
                display: block;
            }
        }
    }
}

@media (max-width: 600px) {
    .dateCircle {
        .years {
            justify-content: space-between;
        }
    }
}
